<template name="nav">
<nav class="navbar navbar-light navbar-fixed-top" style="background: #ffffff;color:#ffb6c1">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="{{pathFor 'homeIndex'}}">Seattle Grace</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{pathFor 'homeIndex'}}">Home</a></li>
        <li><a href="{{pathFor 'homeAbout'}}">About</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Products <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            {{#each vendors}}
              <li><a href="{{pathFor "vendorsShow"}}">{{name}}</a></li>
            {{/each}}
          </ul>
        </li>
          <li><a href="{{pathFor 'cartShow'}}">Cart</a></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          {{#if isInRole 'Administrator'}}
            <a href="#">Admin</a>
          {{/if}}
        </li>
        {{> loginButtons}} <!-- here -->
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
</template>