<template name="checkoutShow">
  <div class="container" id="checkout-panel" style="padding-top: 40px">
    <ol class="breadcrumb">
      <li><a href="{{pathFor 'homeIndex'}}">Home</a></li>
      <li><a href="{{pathFor 'cartShow'}}">Shopping Cart</a></li>
      <li class="active">Checkout</li>
    </ol>
    <div class="col-md-12" data-bind="visible:showProgressBar" style="min-height:600px;padding-top: 40px;">
      <div class="col-md-6 col-md-offset-3" style="text-align:center">
        <h2>Thank you. Redirecting...</h2>
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="sr-only">Complete</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12" data-bind="visible:showCheckoutForm">
      <div class="col-md-8">
        <div class="row" id="step-1">
          <div class="col-xs-12">
            <div class="col-md-12">
              <h3> Name and Email</h3>
              <div class="form-group">
                <input  maxlength="100" type="text" class="form-control" placeholder="First and Last" data-bind="value:name"/>
              </div>
              <div class="form-group">
                <input maxlength="100" type="text" required="required" class="form-control" placeholder="Email" data-bind="value:email"/>
              </div>
            </div>
          </div>
        </div>
        <hr/>
        <div class="row" id="step-2">
          <div class="col-xs-12">
            <div class="col-md-12">
              <h3>Shipping Address</h3>
              <div class="form-group">
                <input type="text" placeholder="Address Line 1" name="address" class="form-control" data-bind="value:shipping_address.street">
              </div>
              <div class="form-group">
                <input type="text" placeholder="Address Line 2" name="address2" class="form-control" data-bind="value:shipping_address.street2">
              </div>
              <div class="form-group">
                <input type="text" placeholder="City" class="form-control" name="city"  data-bind="value:shipping_address.city">
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2">
                    <input type="text" placeholder="State" class="form-control" name="state" data-bind="value:shipping_address.state">
                  </div>
                  <div class="col-md-2">
                    <input type="text" placeholder="Post Code" class="form-control" name="zip"  data-bind="value:shipping_address.zip">
                  </div>
                </div>
              </div>
              <div class="form-group ">
                <select name="country" id="country" class="form-control" placeholder="country" data-bind="value:shipping_address.country">
                  <option value="AR">Argentina</option>
                  <option value="AU">Australia</option>
                  <option value="AT">Austria</option>
                  <option value="BY">Belarus</option>
                  <option value="BE">Belgium</option>
                  <option value="BA">Bosnia and Herzegovina</option>
                  <option value="BR">Brazil</option>
                  <option value="BG">Bulgaria</option>
                  <option value="CA">Canada</option>
                  <option value="CL">Chile</option>
                  <option value="CN">China</option>
                  <option value="CO">Colombia</option>
                  <option value="CR">Costa Rica</option>
                  <option value="HR">Croatia</option>
                  <option value="CU">Cuba</option>
                  <option value="CY">Cyprus</option>
                  <option value="CZ">Czech Republic</option>
                  <option value="DK">Denmark</option>
                  <option value="DO">Dominican Republic</option>
                  <option value="EG">Egypt</option>
                  <option value="EE">Estonia</option>
                  <option value="FI">Finland</option>
                  <option value="FR">France</option>
                  <option value="GE">Georgia</option>
                  <option value="DE">Germany</option>
                  <option value="GI">Gibraltar</option>
                  <option value="GR">Greece</option>
                  <option value="HK">Hong Kong S.A.R., China</option>
                  <option value="HU">Hungary</option>
                  <option value="IS">Iceland</option>
                  <option value="IN">India</option>
                  <option value="ID">Indonesia</option>
                  <option value="IR">Iran</option>
                  <option value="IQ">Iraq</option>
                  <option value="IE">Ireland</option>
                  <option value="IL">Israel</option>
                  <option value="IT">Italy</option>
                  <option value="JM">Jamaica</option>
                  <option value="JP">Japan</option>
                  <option value="KZ">Kazakhstan</option>
                  <option value="KW">Kuwait</option>
                  <option value="KG">Kyrgyzstan</option>
                  <option value="LA">Laos</option>
                  <option value="LV">Latvia</option>
                  <option value="LB">Lebanon</option>
                  <option value="LT">Lithuania</option>
                  <option value="LU">Luxembourg</option>
                  <option value="MK">Macedonia</option>
                  <option value="MY">Malaysia</option>
                  <option value="MT">Malta</option>
                  <option value="MX">Mexico</option>
                  <option value="MD">Moldova</option>
                  <option value="MC">Monaco</option>
                  <option value="ME">Montenegro</option>
                  <option value="MA">Morocco</option>
                  <option value="NL">Netherlands</option>
                  <option value="NZ">New Zealand</option>
                  <option value="NI">Nicaragua</option>
                  <option value="KP">North Korea</option>
                  <option value="NO">Norway</option>
                  <option value="PK">Pakistan</option>
                  <option value="PS">Palestinian Territory</option>
                  <option value="PE">Peru</option>
                  <option value="PH">Philippines</option>
                  <option value="PL">Poland</option>
                  <option value="PT">Portugal</option>
                  <option value="PR">Puerto Rico</option>
                  <option value="QA">Qatar</option>
                  <option value="RO">Romania</option>
                  <option value="RU">Russia</option>
                  <option value="SA">Saudi Arabia</option>
                  <option value="RS">Serbia</option>
                  <option value="SG">Singapore</option>
                  <option value="SK">Slovakia</option>
                  <option value="SI">Slovenia</option>
                  <option value="ZA">South Africa</option>
                  <option value="KR">South Korea</option>
                  <option value="ES">Spain</option>
                  <option value="LK">Sri Lanka</option>
                  <option value="SE">Sweden</option>
                  <option value="CH">Switzerland</option>
                  <option value="TW">Taiwan</option>
                  <option value="TH">Thailand</option>
                  <option value="TN">Tunisia</option>
                  <option value="TR">Turkey</option>
                  <option value="UA">Ukraine</option>
                  <option value="AE">United Arab Emirates</option>
                  <option value="GB">United Kingdom</option>
                  <option value="US" selected="selected">USA</option>
                  <option value="UZ">Uzbekistan</option>
                  <option value="VN">Vietnam</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <hr/>
        <div class="radio" style="margin-top:24px ">
          <label>
            <input type="radio" name="processor" value="stripe"  data-bind="checked:processor">
            <img src="/images/cc_payment.jpg" alt=""/>
          </label>
        </div>
        <hr/>
        <div class="row">

          <div class="col-md-12">
            <h3>Terms and Conditions</h3>
            <div class="checkbox">
              <label>
                <input type="checkbox" data-bind="checked:terms_accepted">
                I agree to <a href="#">Terms and Conditions</a>
              </label>
            </div>
            <div class="row">
              <div class="col-md-2">
                <span data-bind="visible:!payment_ready()">
                  <a href="#" class="btn btn-default" disabled="disabled">Pay Now</a>
                </span>
                <span data-bind="visible:payment_ready">
                  <a href="#" id="checkout" class="btn btn-info" data-bind="click : loadStripeCheckout">Pay Now</a>
                </span>
              </div>
              <div class="col-md-8">
                <div class="alert alert-info" data-bind="visible: !payment_ready()">
                  All we need is
                  <li data-bind="visible: needNameAndEmail()">Your name and email</li>
                  <li data-bind="visible: needShipping()">Your shipping address</li>
                  <li data-bind="visible: !terms_accepted()">agreement to our <a href="#">Terms and Conditions</a></li>
                </div>
                <div class="alert alert-success" data-bind="visible: payment_ready()">
                  <h5> <i class="glyphicon glyphicon-thumbs-up"></i> Good to go!</h5>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-4" style="margin-top:24px">
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="panel-title">
              <div class="row">
                <div class="col-xs-12">
                  <h5><span class="glyphicon glyphicon-shopping-cart"></span> Your Purchase</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Price</th>
              </tr>
              </thead>
              <tbody>
              {{#each cart.items}}
                <tr>
                  <td>{{name}}</td>
                  <td>{{quantity}}</td>
                  <td style="text-align: right">{{money price}}</td>
                </tr>
              {{/each}}
              </tbody>
            </table>
          </div>
          <div class="panel-footer">
            <div class="row text-center">
              <div class="col-xs-9">
                <h4 class="text-right">Total <strong>{{money cart.total}}</strong></h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>