
.cover{
  color: lightrgb(255, 255, 255);
  position: relative;
  min-height: 448px;
  background: url("/images/splash/banner1.jpg") no-repeat scroll 0px 100% / cover transparent;
}

.jumbotron{
  background: none;
}
.jumbotron h1{
  font-size: 45px;
  text-align:center;
  margin:0
}
.jumbotron p.lead {
  font-family:"Georgia";
  text-align:center;
  font-size:24px;
  font-style:italic;
  color:#ccc;

}

a {
    color: palevioletred;
}

