<template name="layout">
  {{> sAlert}}
  {{> nav}}

  {{>yield}}
  <hr/>
  <div class="container">
    <footer>
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>&copy; 2016 <a href="jakelee.io">jakelee.io</a> &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
  </div>

</template>
