<template name="homeAbout">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h1>About Seattle Grace</h1>
                <p><h3>My name is Jake Lee. I am a web developer and this demo website was built for my wife Grace. She has certificates in preserved floral arrangements, candle making and leathercraft from Seoul, South Korea.<br>

                <br>A full production version is in the works which will include the over 50 products in her showcase.<br>

                <br>While you're waiting to order from the production version, you can check out my online resume at <a href="jakelee.io">jakelee.io</a> and consider me for your next full-time developer hire.

            </h3>
                </p>


            </div>
        </div>
    </div>
</template>