<template name="homeIndex">
  <div class="cover">
    <div class="clearfix"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <h1>Welcome to the shop of Seattle Grace</h1>
          <p class="lead">
            Home of handcrafted preserved floral pieces, all natural candles and more!<br>
              Check out our featured products below.
          </p>
        </div>
      </div>
      <hr/>
    </div>
  </div>
  <div class="container marketing">
    <div class="row">
      {{#each featured}}
        {{> productTile this}}
      {{/each}}
    </div>
  </div>
</template>